<div class='data'>
    <div class='data-header-main'>
        <div class='data-header-multiple-cell-cell'>${header1}</div>
    </div>
    <div class='data-body-main'>
        <div class='data-body-1-cell-cell'>${value1}</div>
    </div>
</div>