<div class='data'>
    <div class='data-header-main'>
        <div class='data-header-multiple-cell-cell right-border-element'>${header1}</div>
        <div class='data-header-multiple-cell-cell'>${header2}</div>
    </div>
    <div class='data-body-main'>
        <div class='data-body-multiple-cell-cell right-border-element'>${value1}</div>
        <div class='data-body-multiple-cell-cell'>${value2}
        </div>
    </div>
</div>
