<div class='data'>
    <div class='data-header-main'>
        <div class='data-header-multiple-cell-cell right-border-element'>Check occurrence(s)</div>
        <div class='data-header-multiple-cell-cell'>Searched element</div>
    </div>
    <div class='data-body-main'>
        <div class="data-right-header right-border-element left-bottom-border-radius">Operation</div>
        <div class='data-body-multiple-cell-cell-with-right-header right-border-element'>${operation}</div>
        <div class='data-body-multiple-cell-cell'>${searchedElement}</div>
    </div>
</div>
