<div class='data'>
    <div class='data-header-main'>
        <div class='data-header-multiple-cell-cell right-border-element'>Check property</div>
        <div class='data-header-multiple-cell-cell'>Searched element</div>
    </div>
    <div class='data-body-main' style="min-height: 103px;">
        <div class="data-right-header right-border-element">Property name</div>
        <div class='data-body-multiple-cell-cell-with-right-header right-border-element'>${propertyName}</div>
        <div class='data-body-multiple-cell-cell'>${searchedElement}</div>
    </div>
    <div class='data-body-main border-top'>
        <div class="data-right-header right-border-element left-bottom-border-radius">Operation</div>
        <div class='data-body-multiple-cell-cell width-100'>${operation}</div>
    </div>
</div>
