
<div class='data'>
    <div class='data-header'>
        <div class='data-header-value cs-data-width'>Url</div>
    </div>
    <div class='data-content cs-data-flex'>
        <div class='data-content-value cs-data-width'>${value}</div>
    </div>
</div>