<div style='display: flex;flex-direction: column;margin-right: 10px;'>${dataProperties}</div>
    <div style='display: flex;'>
        <div class='data-action-property-value-header' style='display: flex; min-width: 9%;'>
            ${key}
        </div>
        <div style='display: flex;width: auto;'>
            ${value}
        </div>
    </div>
