<div class='flex-container'>
    <div class='inner-container'>
        <div class='header ${durationIdentificationClass}' id="${actionId}">
            <div class='status-line ${statusLineStyle}'>
                <div class="action-label-header-container">
                    <div class="action-type-label ${actionLabelClass}">${actionLabel}</div>
                    <div class='action-name ${actionNameStyle}'>${actionName}</div>
                </div>
                <div class='script-name hover-underline'>
                    <div style='display: flex;'>${scriptName}</div>
                </div>
            </div>
            <div class='misc'>
                <div class="element">
                    <div class="misc-header">Duration</div>
                    <div style="display: flex;">
                        <div id="${idHiddenPlaceHolderMin}" class="time-value">${executionTimeMin}</div>
                        <div id="${idHiddenPlaceHolderSec}" style="margin-left: 10px" class="time-value">
                            ${executionTimeSec}
                        </div>
                        <div id="${idHiddenPlaceHolderMil}" style="margin-left: 10px" class="time-value">
                            ${executionTimeMil}
                        </div>
                    </div>
                </div>
                <div class='element'>
                    <div class='misc-header'>Result</div>
                    <div class='${result-icon}'></div>
                </div>
            </div>
        </div>
        <div class='body'>
            <div class='image-container' ${imageVisibilityPlaceHolder}>
                <div onclick='openImageModal(this)' class='data-image-host'>${mediaData}
                    <div class='image-overlay'>
                        <div class='${mediaHostIcon}'></div>
                        <div class='data-image-host-text'>Show</div>
                    </div>
                    <div class='${mediaIcon}'
                         alt='Icon'></div>
                </div>
            </div>
            ${actionBody}
        </div>
    </div>
</div>