<div id="${testCaseId}" class='general-layout'>
    <div class='general-report-layout-single'>
        <div class='test-details'>
            <div class='test-details-header'>
                <div class='test-details-header-test-case-name'>
                    <div class='display-toggle-icon-right'
                         onclick='toggleElement("${testCaseId}-test-data", this, "testCase")'></div>
                    <div style="margin-right: 10px">Test case: </div>
                    <div class="truncation-target">${testName}</div>
                    <div class='execute-button hover-underline'>
                        <div style='display: flex'>${executeButton}</div>
                    </div>
                </div>
                <div class='test-details-header-action-details'>
                    <div class='details-header-action-details-item'>
                        <div class='details-header-action-details-item-name'>Actions</div>
                        <div class='details-header-action-details-item-value'>${actionsCount}</div>
                    </div>
                    <div class='details-header-action-details-item'>
                        <div class='details-header-action-details-item-name'>Execution time</div>
                        <div id="${idHiddenPlaceHolderHrs}" class='details-header-action-details-item-value'>${executionTimeHrs}</div>
                        <div id="${idHiddenPlaceHolderMin}" style="margin-left: 10px" class='details-header-action-details-item-value'>${executionTimeMin}</div>
                        <div id="${idHiddenPlaceHolderSec}" style="margin-left: 10px" class='details-header-action-details-item-value'>${executionTimeSec}</div>
                        <div id="${idHiddenPlaceHolderMil}" style="margin-left: 10px" class='details-header-action-details-item-value'>${executionTime}</div>
                    </div>
                    <div class='details-header-action-details-item'>
                        <div class='details-header-action-details-item-name'>Result</div>
                        ${executionResulPlaceholder}
                    </div>
                </div>
            </div>
            <div id='${testCaseId}-test-data' class='test-case-body collapsed'>
                <div class='test-details-table-with-header margin-top-10'>
                    <div class='test-details-table-with-header-item'>
                        <div class='test-details-table-with-header-item-header left-top-border-radius'>Author</div>
                        <div class='test-details-table-with-header-item-value left-bottom-border-radius'>
                            <img class="profile-pic display-none" src="data:image/webp;base64,${profilePic}" alt="Image">
                            <div style='word-wrap: anywhere'>${author}</div>
                        </div>
                    </div>
                    <div class='test-details-table-with-header-item modified-at-header display-none'>
                        <div class='test-details-table-with-header-item-header'>Modified</div>
                        <div class='test-details-table-with-header-item-value'>
                            <div style='word-wrap: anywhere'>${modifiedAt}</div>
                        </div>
                    </div>
                    <div class='test-details-table-with-header-item'>
                        <div class='test-details-table-with-header-item-header'>Started</div>
                        <div class='test-details-table-with-header-item-value'>
                            <div style='word-wrap: anywhere'>${started}</div>
                        </div>
                    </div>
                    <div class='test-details-table-with-header-item'>
                        <div class='test-details-table-with-header-item-header'>Finished</div>
                        <div class='test-details-table-with-header-item-value'>
                            <div style='word-wrap: anywhere'>${finished}</div>
                        </div>
                    </div>
                    <div class='test-details-table-with-header-item'>
                        <div class='test-details-table-with-header-item-header'>Test ID</div>
                        <div class='test-details-table-with-header-item-value'>
                            <div style='word-wrap: anywhere'>${testId}</div>
                        </div>
                    </div>
                    <div class='test-details-table-with-header-item'>
                        <div class='test-details-table-with-header-item-header'>External ID</div>
                        <div class='test-details-table-with-header-item-value'>
                            <div style='word-wrap: anywhere;'>${externalId}</div>
                        </div>
                    </div>
                    <div style='flex-grow: 1' class='test-details-table-with-header-item'>
                        <div class='test-details-table-with-header-item-header no-right-border right-top-border-radius'>
                            Links
                        </div>
                        <div style="min-width: max-content" class='test-details-table-with-header-item-value no-right-border right-bottom-border-radius'>
                            <div style='word-wrap: anywhere; display: flex; gap: 5px'>Visual reports :
                                ${htmlReportLink}
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class='test-details-table-with-header'>
                        <div style="width: 400px" class='test-details-table-with-header-item'>
                            <div class='test-details-table-with-header-item-header left-top-border-radius'>Test description
                            </div>
                            <div class='test-details-table-with-header-item-value left-bottom-border-radius'>
                                <div style='word-wrap: anywhere'>${testDescription}
                                </div>
                            </div>
                        </div>
                        <div style="width: 400px" class='test-details-table-with-header-item'>
                            <div class='test-details-table-with-header-item-header'>Prerequisite</div>
                            <div class='test-details-table-with-header-item-value'>
                                <div style='word-wrap: anywhere'>${prerequisites}
                                </div>
                            </div>
                        </div>
                        <div style='width: 251px' class='test-details-table-with-header-item'>
                            <div class='test-details-table-with-header-item-header right-top-border-radius'>Groups</div>
                            <div class='test-details-table-with-header-item-value right-bottom-border-radius'>
                                <div class='flex-wrap hover-underline'>
                                    ${groups}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="charts-container">
                        <div class="charts-container-chart">
                            <div class="charts-container-chart-header">Actions duration</div>
                            <div id="${testCaseId}-chart" class='charts-container-chart-element chart-duration' style="width: 229px; height: 109px"></div>
                        </div>
                        <div class="charts-container-chart" style="margin-left: 10px">
                            <div class="charts-container-chart-header">Actions type</div>
                            <div id="${testCaseId}-chart-types" class='charts-container-chart-element chart-types'></div>
                        </div>
                    </div>
                </div>
                ${executionSummaryTemplate}
                ${executionErrorTemplate}
                <div style="display: flex">
                </div>
                <div class='action-button-text'>Actions</div>
                <div id='${testCaseId}-actions-container' class='actions-container'>