<div id='loader' class='loader'>
    <div><h2>Loading the report...</h2></div>
</div>
<div id='myModalVid' class='modal' onclick='closeModal("myModalVid")'><span class='close cursor'
                                                                            onclick='closeModal("myModalVid")'>X</span>
    <div class='modal-content'>
        <div id='vidCont' class='mySlides'>
            <video id='modal_video' type='video/mp4' src='' style='width:100%;'/>
        </div>
        <div class='caption-container'><p id='caption'></p></div>
    </div>
</div>
<div id='myModal' class='modal' onclick='closeModal("myModal")'><span class='close cursor' onclick='closeModal("myModal")'>X</span>
<div class='modal-content'>
    <div id='imgCont' class='mySlides'><img id='modal_image' src='' style='width:100%;'/></div>
    <div class='caption-container'><p id='caption'></p></div>
</div>
</div>